/* Base styles */
.produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--c60);
    border-radius: 40px;
    width: 288px;
    height: 542px;
    position: relative;
}

.imagemProduto {
    border-radius: 40px;
    width: 258px;
    height: 258px;
}

.excluirCerteza {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 208px;
    background-color: var(--c95);
    border-radius: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 11;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.botaoNao {
    width: 95px;
    height: 54px;
    padding: 8px 14px;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--c95);
    border: 1px solid var(--c05)
}

.botaoSim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 54px;
    padding: 8px 14px 8px 14px;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--c05);
    border: none;
}

.botaoSim h6 {
    color: var(--c95);
}

.botoesEdit {
    display: flex;
    gap: 8px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 19px 15px;
}

.precos {
    position: relative;
}

.corte {
    position: absolute;
    background-color: black;
    width: 105px;
    height: 3px;
    transform: rotate(-10deg);
    top: 15px;
    left: 0;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nomeProduto {
    font-size: 1.5rem;
}

.precoAtual {
    font-size: 2.5rem;
}

.parcelas {
    font-size: 1.2rem;
}

/* alternative styles */
.horizontal .produto {
    flex-direction: row;
    width: 600px;
    height: 305px;
}

.horizontal .conteudo {
    flex-direction: row;
    margin: 24px 24px;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.horizontal .container {
    display: flex;
    flex-direction: column;
}

.editButton {
    width: 195px;
    height: 54px;
    padding: 8px 14px;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--c95);
    border: none;
    box-sizing: border-box;
}

.produto.editable {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--c60);
    border-radius: 40px;
    width: 288px;
    height: 602px;
}

.edit {
    display: flex;
    gap: 5px;
}

.delete {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--c05);
    width: 54px;
    height: 54px;
    border: none;
    padding: 0;
    flex-wrap: wrap;
    border-radius: 10px;
}


@media (max-width: 1360px) {
    .horizontal .produto {
        width: calc(600px*0.75);
        height: calc(305px*0.75);
    }

    .horizontal .conteudo {
        flex-direction: row;
        margin: calc(24px*0.75) calc(24px*0.75);
        align-items: center;
        justify-content: center;
        gap: calc(18px*0.75);
    }

    .horizontal .imagemProduto {
        width: calc(258px * 0.75);
        height: calc(258px * 0.75);
        border-radius: calc(40px * 0.75);
    }

    .horizontal .conteudo {
        gap: calc(1.5rem * 0.75);
        margin: calc(19px * 0.75) calc(15px * 0.75);
    }

    .horizontal .nomeProduto {
        font-size: calc(1.5rem * 0.75);
    }
    
    .horizontal .precoAtual {
        font-size: calc(2.5rem * 0.75);
    }
    
    .horizontal .parcelas {
        font-size: calc(1.2rem * 0.75);
    }
}

/* Responsive styles */
@media (max-width: 1024px) {
    
    .produto {
        width: calc(288px * 0.75);
        height: calc(542px * 0.75);
        border-radius: calc(40px * 0.75);
    }

    .produto.editable {
        width: calc(288px * 0.75);
        height: calc(602px * 0.75);
        border-radius: calc(40px * 0.75);
    }

    .editButton {
        width: calc(195px * 0.75);
        height: calc(54px * 0.75);
        padding: calc(8px * 0.75) calc(14px * 0.75);
        border-radius: calc(15px * 0.75);
    }

    .delete {
        width: calc(54px * 0.75);
        height: calc(54px * 0.75);
    }

    .lixo {
        width: calc(26px * 0.75);
        height: calc(28px * 0.75);
    }

    .imagemProduto {
        width: calc(258px * 0.75);
        height: calc(258px * 0.75);
        border-radius: calc(40px * 0.75);
    }

    .conteudo {
        gap: calc(1.5rem * 0.75);
        margin: calc(19px * 0.75) calc(15px * 0.75);
    }

    .container {
        gap: calc(1.5rem * 0.75);
    }

    .corte {
        width: calc(105px * 0.75);
        height: calc(3px * 0.75);
        top: calc(15px * 0.75);
    }

    .nomeProduto, .editName {
        font-size: calc(1.5rem * 0.75);
    }
    
    .precoAtual {
        font-size: calc(2.5rem * 0.75);
    }
    
    .parcelas {
        font-size: calc(1.2rem * 0.75);
    }
}

@media (max-width: 780px) {
    .produto {
        width: calc(288px * 0.6);
        height: calc(542px * 0.6);
        border-radius: calc(40px * 0.6);
    }

    .produto.editable {
        width: calc(288px * 0.6);
        height: calc(602px * 0.6);
        border-radius: calc(40px * 0.6);
    }

    .editButton {
        width: calc(195px * 0.6);
        height: calc(54px * 0.6);
        padding: calc(8px * 0.6) calc(14px * 0.6);
        border-radius: calc(15px * 0.6);
    }

    .delete {
        width: calc(54px * 0.6);
        height: calc(54px * 0.6);
    }

    .lixo {
        width: calc(26px * 0.6);
        height: calc(28px * 0.6);
    }

    .imagemProduto {
        width: calc(258px * 0.6);
        height: calc(258px * 0.6);
        border-radius: calc(40px * 0.6);
    }

    .conteudo {
        gap: calc(1.5rem * 0.6);
        margin: calc(19px * 0.6) calc(15px * 0.6);
    }

    .container {
        gap: calc(1.5rem * 0.6);
    }

    .corte {
        width: calc(105px * 0.6);
        height: calc(3px * 0.6);
        top: calc(15px * 0.6);
    }

    .nomeProduto, .editName {
        font-size: calc(1.5rem * 0.6);
    }
    
    .precoAtual {
        font-size: calc(2.5rem * 0.6);
    }
    
    .parcelas {
        font-size: calc(1.2rem * 0.6);
    }
}

@media (max-width: 480px) {
    .horizontal .produto {
        width: calc(600px * 0.4);
        height: calc(305px * 0.4);
        border-radius: calc(40px * 0.4);
    }

    .horizontal .imagemProduto {
        width: calc(258px * 0.4);
        height: calc(258px * 0.4);
        border-radius: calc(40px * 0.4);
    }

    .horizontal .conteudo {
        gap: calc(1.5rem * 0.4);
        margin: calc(19px * 0.4) calc(15px * 0.4);
    }

    .horizontal .container {
        gap: calc(1.5rem * 0.4);
    }

    .horizontal .corte {
        width: calc(105px * 0.4);
        height: calc(3px * 0.4);
        top: calc(15px * 0.4);
    }

    .horizontal .nomeProduto {
        font-size: calc(1.5rem * 0.4);
    }
    
    .horizontal .precoAtual {
        font-size: calc(2.5rem * 0.4);
    }
    
    .horizontal .parcelas {
        font-size: calc(1.2rem * 0.4);
    }
}

@media (max-width: 400px) {
    .produto {
        width: calc(288px * 0.4);
        height: calc(542px * 0.4);
        border-radius: calc(40px * 0.4);
    }

    .produto.editable {
        width: calc(288px * 0.4);
        height: calc(602px * 0.4);
        border-radius: calc(40px * 0.4);
    }

    .editButton {
        width: calc(195px * 0.4);
        height: calc(54px * 0.4);
        padding: calc(8px * 0.4) calc(14px * 0.4);
        border-radius: calc(15px * 0.4);
    }

    .delete {
        width: calc(54px * 0.4);
        height: calc(54px * 0.4);
    }

    .lixo {
        width: calc(26px * 0.4);
        height: calc(28px * 0.4);
    }

    .imagemProduto {
        width: calc(258px * 0.4);
        height: calc(258px * 0.4);
        border-radius: calc(40px * 0.4);
    }

    .conteudo {
        gap: calc(1.5rem * 0.4);
        margin: calc(19px * 0.4) calc(15px * 0.4);
    }

    .container {
        gap: calc(1.5rem * 0.4);
    }

    .corte {
        width: calc(105px * 0.4);
        height: calc(3px * 0.4);
        top: calc(15px * 0.4);
    }

    .nomeProduto, .editName {
        font-size: calc(1.5rem * 0.4);
    }
    
    .precoAtual {
        font-size: calc(2.5rem * 0.4);
    }
    
    .parcelas {
        font-size: calc(1.2rem * 0.4);
    }
}
