.sessoes {
  margin: 0 4rem 6rem 4rem;
}

.sessao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  padding: 10%;
  max-width: 40%;
}

.circle {
  background-color: var(--c60);
  border-radius: 50%;
  width: 184px;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  text-decoration: none;
  font-weight: 700;
  color: var(--c60);
  font-size: 24px;
  text-align: center;
  margin-top: .5rem;
}

.swiperPagination {
  display: none;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.swiperPaginationBullet {
  background: var(--c60);
  width: 16px;
  height: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.swiperPaginationBulletActive {
  background: var(--c95);
}

@media (max-width: 1300px) {
  .swiperPagination {
      display: flex;
    }
}

@media (max-width: 1100px) {
  .icon {
    padding: 12.5%;
  }
  .circle {
    width: 125px;
    height: 125px;
  }
  .title {
    margin-top: .3rem;
    font-size: 18px;
  }
  .sessoes {
    margin: 0 2rem 4rem 2rem;
  }
  .carrosselSessoes {
    gap: .75rem;
  }
}

@media (max-width: 768px) {
  .icon {
    padding: 10%;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  .title {
    margin-top: .2rem;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .icon {
    padding: 8%;
  }
  .circle {
    width: 80px;
    height: 80px;
  }
  .title {
    margin-top: .1rem;
    font-size: 10px;
  }
  .sessoes {
    margin: 0 1rem 2rem 1rem;
  }
  .carrosselSessoes {
    gap: .5rem;
  }
  .swiperPagination {
    gap: 4px;
    margin-top: 8px;
  }
  .swiperPaginationBullet {
      height: 8px;
      width: 8px;
  }
}
