* {
    box-sizing: border-box;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 36px;
}
#tituloCarrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
}
h1 {
    text-align: center;
    color: var(--c95);
    font-weight: 800;
    font-size: 60px;
}
.carrinho {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.itensCarrinho {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.moduloPedido {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 612px;
    background-color: var(--c95);
    color: var(--c05);
    border-radius: 30px;
    padding: 24px;
    gap: 21px;
}

.produtosVistos,.produtosSemelhantes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    padding-bottom: 3rem;
}
label {
    font-size: 1.4rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputMaisOK input {
    background-color: var(--c05);
    height: 54px;
    width: 70%;
    border-radius: 15px;
    border: none;
    padding: 8px 12px;
    font-size: 1em;
    font-family: "Montserrat";
    font-weight: 500;
}
.inputMaisOK {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}
.btnOK {
    background-color: var(--c95);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--c05);
    font-size: 1.5em;
    border-radius: 15px;
    height: 52px;
    width: 25%;
    border-color: var(--c05);
    cursor: pointer;
}
.divisoria {
    background-color: var(--c05);
    height: 2px;
    width: 100%;
    z-index: 9999;
}

.resumo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resumo label {
    text-align: center;
}
.resumo strong {
    font-size: 1.5rem;
}
.textoMaisPreco {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.botoezoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btnGrande {
    border-radius: 30px;
    width: 100%;
    height: 54px;
    font-weight: bolder;
    border-color: white;
    font-family: "Montserrat";
    cursor: pointer;
}
.btnGrande.princi {
    background-color: var(--c95);
    color: white;
}
.btnGrande.princi:hover {
    background-color: var(--c90);
}
.btnGrande.secund {
    background-color: white;
    color: var(--c95);
}
.btnGrande.secund:hover {
    background-color: var(--c05);
}

@media (max-width: 1260px) {
    .carrinho {
        flex-direction: column;
        align-items: center;
    }
    .moduloPedido, .itensCarrinho {
        width: 100%;
    }
    .moduloPedido button {
        font-weight: normal;
    }
    .btnGrande {
        font-size: 1.5em;
    }
}

@media (max-width: 1024px) {
    .carrinho {
        width: 100%;
    }
    #tituloCarrinho img {
        width: 80px;
    }
    #tituloCarrinho h1 {
        text-align: left;

    }
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 550px) {
    .principal {
        padding: 16px;
    }
    h1 {
        font-size: 25px;
    }
    #tituloCarrinho img {
        width: 40px;
    }
    label, .textoMaisPreco p {
        font-size: 10px;
    }
    form {
        flex-direction: row;
        justify-content: space-between;
    }
    .inputMaisOK {
        height: 22px;
        gap: 2px;
    }
    .principal input, .btnOK {
        height: 100%;
        font-size: 10px;
    }
    .btnOK {
        width: 27px;
    }
    .principal input {
        width: 80%;
    }
    .moduloPedido {
        gap: 8px;
        height: 100%;
    }
    .resumo label {
        text-align: left;
    }
    .resumo strong {
        font-size: 1em;
    }
    .botoezoes {
        gap: 2%;
        flex-direction: row;
    }
    .btnGrande {
        height: 28px;
        width: 100%;
        font-size: 10px;
    }
}