.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.elemento {
    display: flex;
    justify-content: center;
}

.titulo {
    text-align: center;
    color: var(--c95);
    font-size: 50px;
    font-weight: bolder;
}

.carrosselOfertas {
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 4rem 4rem 6rem 4rem;
}

.swiperPagination {
    display: none;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
  }
  
.swiperPaginationBullet {
    background: var(--c60);
    width: 16px;
    height: 16px;
    border-radius: 20px;
    cursor: pointer;
}
  
  .swiperPaginationBulletActive {
    background: var(--c95);
  }

@media (max-width: 1300px) {
    .swiperPagination {
        display: flex;
      }
}
@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
    }
    .carrosselOfertas {
        margin: 2rem 2rem 4rem 2rem;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 15px;
    }
    .carrosselOfertas {
        margin: 1rem 1rem 2rem 1rem;
    }
    .swiperPagination {
        gap: 4px;
        margin-top: 8px;
      }
    .swiperPaginationBullet {
        height: 8px;
        width: 8px;
    }
}
