.filtros form {
    border-radius: 30px;
    background-color: var(--c95);
    color: var(--c05);
    padding: 26px 16px;
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
}

.filtros h2{
    font-size: 1em;
    color: var(--c05);
    font-weight: 800;
}

.opcoesForm {
    display: flex;
    flex-direction: column;
}
.opcoesForm div{
    display: flex;
    gap: 8px;
    align-items: center;
}