.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselContainer {
  width: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  margin: 6rem auto 0 auto;
  width: 100%;
  max-width: 1280px; /* Fixed maximum width */
  height: 720px; /* Fixed height */
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselDots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 0;
  margin-bottom: 6rem;
}

.dot {
  background: var(--c60);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.dotActive {
  background: var(--c95);
}

/* Medium screens (e.g., tablets) */
@media (max-width: 1320px) {
  .imageWrapper {
    margin: 4rem auto 0 auto;
    width: 90%; /* Adjust width to fit within viewport */
    height: calc(90vw * 9 / 16); /* Maintain aspect ratio for height */
    border-radius: 20px;
  }

  .carouselDots {
    margin-bottom: calc(4rem - 10px);
  }

  .image {
    border-radius: 20px;
  }
}

/* Small screens (e.g., phones) */
@media (max-width: 480px) {
  .imageWrapper {
    margin: 2rem auto 0 auto;
    width: 90%; /* Adjust width to fit within viewport */
    height: calc(90vw * 9 / 16); /* Maintain aspect ratio for height */
    border-radius: 10px;
  }

  .carouselDots {
    gap: 4px;
    margin-bottom: calc(2rem - 10px);
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .image {
    border-radius: 10px;
  }
}
