.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carouselItem {
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carouselItemActive {
    display: flex;
    justify-content: center;
  }

  
  .carouselDots {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 6rem;
  }
  
  .dot {
    height: 16px;
    width: 16px;
    margin: 0 4px;
    background-color: var(--c60);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dotActive {
    background-color: var(--c95);
  }

  .imageWrapper {
    margin-top: 6rem;
    width: 1221px; /* 48 in Tailwind */
    height: 534px;
    overflow: hidden;
    border-radius: 40px; /* large radius in Tailwind */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  