.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 4rem 6rem 4rem;
}

.produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.titulo {
    text-align: center;
    color: var(--c95);
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .section {
        margin: 0 2rem 4rem 2rem;
    }
    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
    }

}

@media (max-width: 480px) {
    .section {
        margin: 0 .5rem 2rem .5rem;
    }
    .titulo {
        font-size: 15px;
        margin-bottom: 1rem;
    }

}